body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FEFEFE;
}

button {
    background-color: greenyellow;
    border-radius: 7px;
    border: none;  
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    
}

.add-rec-form {
    display: inline;
    padding-left: 42%;
}

.view-rec {
    padding-left: 0%;
}

.rec-service {
    text-align: center;
    font-size: 30px;
}

p {
    text-align: center;
}

p, table {
    font-family: Arial, Helvetica, sans-serif;
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

td {
    width: 25%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.first-col {
    width: 12%;
}

.rec {
    font-size: 30px;
    text-align: center;
}

.name_delete-btn {
    background: none;
    border: none;
    color: blue;
    text-decoration: none;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    padding-left: 0px;
}

.name_delete-btn:hover, .name_delete-btn:focus {
    color: darkblue;
}
