<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="style.css">

    <!-- NOTE: "src/main/resources/templates" is the default directory for Thymeleaf templates (or files)
    Spring is preconfigured to serve STATIC files 
    => Omit "/src/main/resources/static" path segment (when referencing img or other STATIC files)
    Ex1: If in static is only style.css file => Files in templates folder can refer to this via "style.css" (Ignore the previous path)
    Ex2" If in static is a sub-folder "style" containing style.css 
    => Thymeleaf templates refer to this via "style/style.css" (only take the path after STATIC onwards)
    Ex3: Use ex1 and refer to style.css via "src/main/resources/static/style.css" => Faulthy path (cannot access style.css)
    => Avoid including "resources" or "static" keyword in accessing static files -->

</head>
<body>
    <p class="rec-service">Rectangle Service</p>
    <form action="/rec/add" method="get">
        <p><button>Add Rectangle</button></p>   
        <!-- put <button> tag inside a <p> tag to get text-align: center -->
    </form>

    <div>
        <table class="rec-table">
            <tr>
                <td class="first-col"></td>
                <td>name</td>
                <td>color</td>
                <td></td>
            </tr>

            <tr th:each="rectangle, iter:${rec}">
                <td class="first-col" th:text="${iter.index + 1}"></td>
                <td>
                    <a th:href="@{'/view/' + ${rectangle.name}}" th:text="${rectangle.name}"></a>
                    <!-- If no '@' symbol => href will treat "'/rec/view/' + ${rectangle.name}" as a literal string (ie static link)
                    rather than consider it an expression to substitute value
                    hyperlink (ie anchor tag) uses GET method by default
                    => No way to use POST method w/ hyperlink 
                    (if want to, style the "form" tag to look like a hyperlink and apply POST method) -->
                </td>
                <td th:text="${rectangle.color}"></td>
                <td>
                    DELETE
                </td>
            </tr>
        </table>  
    </div>    
</body>
</html>