<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <p>Rectangles</p>
    <!-- <div>
        <table class="rec-table">
            <tr class="head-line">
                <td class="first-col"></td>
                <td>name</td>
                <td>color</td>
                <td></td>
            </tr>
        </table>
    </div> -->
    <ul>
        <li th:each="rectangle:${rec}">
            <span th:text="${rectangle.name}"></span> <br>
            <span th:text="${rectangle.color}"></span>

        </li>
    </ul>
</body>
</html>